@charset "UTF-8";
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

body {
  background: linear-gradient(101deg, #0d1825 4.75%, #1f3044 101.22%);
  margin: 0;
}

html,
body {
  overflow-x: hidden; /* Отключает горизонтальный скролл */
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1450px) {
  .container {
    width: 1450px;
  }
}
.section {
  padding-top: 67px;
  padding-bottom: 67px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.mobile-menu-open {
  margin-left: auto;
  line-height: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-open:hover .icon-burger, .mobile-menu-open:focus .icon-burger {
  color: #cb935d;
}
.mobile-menu-open.is-open {
  display: none;
}

.header-list {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav {
  position: relative;
}

.icon::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  background-image: url("/images/header/group.png");
  background-repeat: no-repeat;
  background-size: 22px;
}

.header-title {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-title:hover, .header-title:focus {
  color: #cb935d;
}

.header-text {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-text:hover, .header-text:focus {
  color: #cb935d;
}

.header-span {
  color: #cb935d;
  font-family: "Cormorant Garamond";
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-span:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .header-title {
    font-size: 18px;
    margin-left: 30px;
  }
  .header-text {
    font-size: 18px;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  .header-item:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .header-title {
    font-size: 24px;
    margin-left: 30px;
  }
  .header-list {
    display: flex;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .header-item:not(:last-child) {
    margin-right: 10px;
  }
  .header-text {
    font-size: 24px;
  }
  .header-span {
    font-size: 24px;
  }
}
.hero {
  padding-bottom: 100px;
}

.text-top {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  padding-top: 100px;
  padding-bottom: 16px;
  width: 536px;
}

.img-justice {
  display: none;
}

.img-daco {
  display: none;
}

.hero-title {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
  width: 300px;
}

.title-span {
  color: #cb935d;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.text-bottom {
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-bottom: 24px;
  width: 300px;
}

.hero-buttom {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 170px;
  padding: 10px 10px;
  background-color: #cb935d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-buttom:hover, .hero-buttom:focus {
  color: #cb935d;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
  }
  .hero-title {
    width: 300px;
  }
  .img-justice {
    display: block;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 300px;
  }
  .img-daco {
    display: block;
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 165px;
  }
  .text-top {
    padding-top: 158px;
  }
  .hero-title {
    width: 690px;
    font-size: 64px;
  }
  .title-span {
    font-size: 64px;
  }
  .text-bottom {
    width: 536px;
    font-size: 24px;
  }
  .hero-buttom {
    font-size: 24px;
    display: flex;
    width: 211px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .img-justice {
    top: 62%;
    left: 90%;
    width: 446px;
  }
  .img-daco {
    left: 100%;
    width: 373px;
  }
}
.practice {
  background: #f9f7f5;
}

.practice-box {
  position: relative;
}

.practice-title {
  color: #182738;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 13px;
}

.practice-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: center;
  margin-bottom: 30px;
}

.practice-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.practice-item {
  position: relative;
}

.practice-img {
  border: 1px solid #cb935d;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  width: 310px;
}

.practice-list_text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cb935d;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.practice-box::before {
  content: "";
  position: absolute;
  top: 1%;
  left: 99%;
  transform: translate(-50%, -50%);
  background-image: url("/images/practice/image2.png");
  background-size: cover; /* Добавляем свойство для масштабирования */
  width: 137px; /* Пример ширины */
  height: 146px; /* Пример высоты */
}

.practice-box::after {
  content: "";
  position: absolute;
  top: 101%;
  left: 1%;
  transform: translate(-50%, -50%);
  background-image: url("/images/practice/image1.png");
  background-size: cover;
  width: 137px;
  height: 146px;
}

@media screen and (min-width: 768px) {
  .practice-title {
    font-size: 44px;
  }
  .practice-text {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .practice-list {
    flex-direction: row;
    gap: 10px;
  }
  .practice-item {
    margin-left: auto;
    margin-right: auto;
  }
  .practice-img {
    width: 210px;
  }
  .practice-list_text {
    font-size: 25px;
  }
  .practice-box::before {
    top: 2%;
    left: 90%;
    width: 137px;
    height: 146px;
  }
  .practice-box::after {
    top: 105%;
    left: 4%;
    width: 137px;
    height: 146px;
  }
}
@media screen and (min-width: 1024px) {
  .practice-title {
    font-size: 64px;
    margin-bottom: 20px;
  }
  .practice-list {
    margin-bottom: 83px;
  }
  .practice-text {
    text-align: center;
    font-size: 24px;
  }
  .practice-img {
    width: 310px;
  }
  .practice-list_text {
    font-size: 36px;
  }
  .practice-box::before {
    top: 10%;
    left: 95%;
    width: 337px;
    height: 246px;
  }
  .practice-box::after {
    top: 104%;
    left: 5%;
    width: 337px;
    height: 246px;
  }
}
@media screen and (min-width: 1200px) {
  .practice-box::before {
    top: 6%;
    left: 95%;
    width: 337px;
    height: 246px;
  }
  .practice-box::after {
    top: 108%;
    left: 5%;
    width: 337px;
    height: 246px;
  }
}
.aboutUs {
  background: #fff;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  z-index: -2;
}

.aboutUs-title {
  color: #182738;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.aboutUs-text {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 51px;
  margin-bottom: 20px;
}

.aboutUs-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUs-item_text {
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.92px;
}

.aboutUs-item_textSecond {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

.aboutUs-list::before {
  content: "";
  position: absolute;
  background-image: url("/images/aboutAs/image.png");
  background-size: cover;
  width: 188px;
  height: 359px;
  left: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .aboutUs-title {
    margin-bottom: 30px;
    width: 539px;
    margin: 0 auto;
  }
  .aboutUs-list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .aboutUs-text {
    margin-bottom: 30px;
    width: 539px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .aboutUs-item {
    position: relative;
    padding-left: 20px;
  }
  .aboutUs-item_text {
    font-size: 56px;
  }
  .aboutUs-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1024px) {
  .aboutUs-title {
    font-size: 64px;
    margin-bottom: 40px;
  }
  .aboutUs-item_text {
    font-size: 96px;
  }
  .aboutUs-text {
    margin-bottom: 40px;
  }
  .aboutUs-item:not(:first-child)::before {
    left: -12px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutUs-text {
    font-size: 26px;
    width: 729px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutUs-item:not(:first-child)::before {
    left: -55px;
  }
}
.experience-img {
  display: none;
}

.experience-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  color: #fff;
  font-family: "Cormorant Garamond";
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.experience-span {
  color: #cb935d;
  font-family: "Cormorant Garamond";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experience-text {
  color: #fff;
  font-family: Manrope;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.experience-buttom {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 170px;
  padding: 10px 10px;
  margin-top: 20px;
  background-color: #cb935d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.experience-buttom:hover, .experience-buttom:focus {
  color: #cb935d;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .experience-img {
    display: block;
    width: 350px;
    margin-bottom: 67px;
    margin-right: auto;
    margin-left: auto;
  }
  .experience-text {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .experience {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .experience-img {
    width: 450px;
    margin-right: 40px;
    margin-left: 20px;
  }
  .experience-title {
    font-size: 64px;
  }
  .experience-box {
    margin-right: 20px;
  }
  .experience-span {
    font-size: 64px;
  }
  .experience-text {
    font-size: 24px;
    margin-bottom: 34px;
    width: 100%;
    margin-bottom: 5px;
  }
  .experience-buttom {
    font-size: 24px;
    display: flex;
    width: 211px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
  }
}
.clients {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.clients-box_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-title {
  color: #182738;
  font-family: "Cormorant Garamond";
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.clients-buttom {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 170px;
  padding: 10px 10px;
  margin-bottom: 20px;
  background-color: #cb935d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-buttom:hover, .clients-buttom:focus {
  color: #cb935d;
  background: #fff;
}

.clients-text {
  color: #000;
  font-family: Manrope;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 25px;
}

.clients-text_second {
  color: #000;
  font-family: Manrope;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.clients-text_third {
  color: #000;
  font-family: Manrope;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  .clients-text {
    width: 539px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .clients-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .clients-box_title {
    margin-right: 113px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .clients-title {
    text-align: start;
    font-size: 64px;
    margin-bottom: 24px;
  }
  .clients-buttom {
    font-size: 24px;
    display: flex;
    width: 211px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .clients-text {
    text-align: start;
    font-size: 24px;
  }
  .clients-text_second {
    font-size: 24px;
  }
}
.clients-wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.blog-page {
  width: 300px;
}

.blog-title {
  color: #fff;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 47px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-item {
  margin-bottom: 20px;
  width: 300px;
}

.blog-wrapper {
  position: relative;
}

.blog-img {
  margin-bottom: 20px;
  width: 300px;
}

.blog-text {
  color: #fff;
  font-family: Manrope;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.article {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* фон для контраста */
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article-text {
  text-align: center;
  padding-top: 60%;
  color: #cb935d;
  font-family: Manrope;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.blog-item:hover .article {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .blog-page {
    width: 650px;
  }
  .blog-list {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
  .blog-item {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-img {
    width: 270px;
  }
}
@media screen and (min-width: 1024px) {
  .blog-page {
    width: 900px;
  }
  .blog-item {
    width: 320px;
  }
  .blog-img {
    width: 320px;
  }
  .blog-text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .blog-page {
    width: 1100px;
  }
}
.gallery {
  background: #fff;
}

.gallery-title {
  color: #182738;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-list > li {
  margin-right: 65px;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    height: 400px;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide p {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background: #000; /* Цвет фона кнопок */
  color: #fff; /* Цвет текста */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #555; /* Изменение цвета при наведении */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background: #000; /* Цвет активной точки */
}

@media screen and (min-width: 1024px) {
  .swiper-slide img {
    width: 50%;
  }
  .swiper-container {
    height: 500px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 67px;
  padding-bottom: 67px;
}

.footer-title {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-title:hover, .footer-title:focus {
  color: #cb935d;
}

.footer-phone,
.footer-email {
  color: #cb935d !important;
  font-family: "Cormorant Garamond";
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone:hover,
.footer-phone:focus,
.footer-email:hover,
.footer-email:focus {
  color: #fff !important;
}

.footer-title_second {
  color: #fff;
  font-family: "Cormorant Garamond";
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-title_second:hover, .footer-title_second:focus {
  color: #cb935d;
}

.footer-span {
  color: #cb935d;
  font-family: "Cormorant Garamond";
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-span:hover, .footer-span:focus {
  color: #fff;
}

.footer-icon::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
  transform: translate(-50%);
  background-image: url("/images/header/group.png");
  background-repeat: no-repeat;
  background-size: 22px;
}

.footer-text {
  color: #fff;
  font-family: Manrope;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 20px;
}

.footer > div {
  width: 280px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 16px;
}

.footer-box {
  position: relative;
}

.footer-buttom {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 170px;
  padding: 10px 10px;
  background-color: #cb935d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}
.footer-buttom:hover, .footer-buttom:focus {
  color: #cb935d;
  background: #fff;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: white;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  .footer-list {
    margin-top: 0px;
  }
  .footer-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 94px;
  }
  .footer-buttom {
    font-size: 24px;
    display: flex;
    width: 211px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-title_second {
    font-size: 24px;
  }
  .footer-text {
    font-size: 22px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9f7f5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
}

.modal-close {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #cb935d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  color: white;
  background-color: #cb935d;
}

@media screen and (min-width: 1024px) {
  .modal-close {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-close {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
}
.form-list {
  padding: 20px;
}

.form {
  width: 300px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.form-title {
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 29px;
}

.form-item {
  margin-bottom: 5px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-text {
  color: #000;
  font-family: "Cormorant Garamond";
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.form-text-send {
  width: 250px;
  color: #000;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.form-comment {
  display: block;
  width: 90%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}
.form-comment:focus {
  outline: none;
  border-color: #cb935d;
}
.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #cb935d;
}

.form-send__btn {
  color: #fff;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 10px 20px;
  background-color: #cb935d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-send__btn:hover, .form-send__btn:focus {
  color: #cb935d;
  background: #fff;
}

.form-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form-check_input + .form-check_text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1px;
  left: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: #fff;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  margin-right: 8px;
  background-size: cover;
}

.form-check_input:checked + .form-check_text::before {
  background-color: #cb935d;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-image: url("/images/form/check.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-check_text {
  display: block;
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 30px;
  margin-left: 25px;
  cursor: pointer;
}

.form-link {
  color: #cb935d;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.span {
  position: relative;
}

.form-send {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 450px;
  }
  .form-text-send {
    width: 350px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1024px) {
  .form {
    width: 650px;
  }
  .form-title {
    font-size: 26px;
  }
  .form-check_text {
    font-size: 22px;
  }
  .form-link {
    font-size: 24px;
  }
  .form-check_input {
    width: 25px;
    height: 25px;
  }
  .form-check_input + .form-check_text::before {
    width: 25px;
    height: 25px;
    top: 0px;
  }
  .form-check_input:checked + .form-check_text::before {
    background-size: 25px;
  }
  .form-text {
    font-size: 22px;
  }
  .form-text-send {
    width: 400px;
    font-size: 30px;
  }
  .form-send__btn {
    font-size: 22px;
  }
  .form-item {
    margin-bottom: 10px;
  }
  .form-item:last-child {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    max-width: 950px;
  }
  .form-title {
    font-size: 32px;
  }
  .form-text {
    font-size: 27px;
  }
  .form-text-send {
    width: 450px;
    font-size: 33px;
  }
  .form-send__btn {
    font-size: 32px;
  }
  .form-list {
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-item {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: relative;
    padding: 25px;
  }
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .mobile-menu-nav::before {
    content: "";
    position: absolute;
    background-image: url("/images/aboutAs/image.png");
    background-size: cover;
    width: 150px;
    height: 250px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #f9f7f5;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
  }
  .mobile-menu-close {
    width: 40px;
    margin-bottom: 15px;
    line-height: 0;
    border: none;
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close:hover, .mobile-menu-close:focus {
    fill: white;
  }
  .mobile-menu-nav__link {
    font-family: "Cormorant Garamond";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #cb935d;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contact {
    margin-bottom: 64px;
  }
  .mobile-menu-contact__item {
    margin-bottom: 32px;
  }
  .mobile-menu-contact__tel {
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu-contact__mail {
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.blogPage-main {
  background-color: #fff;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blogPage-title {
  font-family: "Cormorant Garamond";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.blogPage-text {
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  padding-bottom: 8px;
}

@media screen and (min-width: 1024px) {
  .blogPage-text {
    font-size: 36px;
  }
  .blogPage-title {
    font-size: 42px;
  }
}
.policy {
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.policy-title {
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 29px;
}

.policy-subtitle {
  color: #000;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.policy-text {
  color: #000;
  font-family: "Cormorant Garamond";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .policy-title {
    font-size: 25px;
  }
  .policy-subtitle {
    font-size: 22px;
  }
  .policy-text {
    font-size: 19px;
  }
}
@media screen and (min-width: 1024px) {
  .policy {
    padding-left: 50px;
    padding-right: 50px;
  }
  .policy-title {
    font-size: 27px;
  }
  .policy-subtitle {
    font-size: 25px;
  }
  .policy-text {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .policy-title {
    font-size: 36px;
  }
  .policy-subtitle {
    font-size: 32px;
  }
  .policy-text {
    font-size: 28px;
  }
}/*# sourceMappingURL=main.css.map */