// .experience {
//   padding-left: 15px;
//   padding-right: 15px;
// }

.experience-img {
  display: none;
}

.experience-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  color: #fff;

  font-family: 'Cormorant Garamond';
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 20px;
}

.experience-span {
  color: #cb935d;
  font-family: 'Cormorant Garamond';
  // font-size: 64px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experience-text {
  color: #fff;

  font-family: Manrope;
  text-align: justify;
  // font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;

  // margin-right: 385px;
  margin-bottom: 10px;
}

.experience-buttom {
  color: #fff;

  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5%;
  width: 170px;
  padding: 10px 10px;
  background: #cb935d;
  margin-top: 20px;
  &:hover {
    color: #cb935d;
    background: #fff;
  }
}

@media screen and (min-width: 768px) {
  .experience-img {
    display: block;
    width: 350px;
    margin-bottom: 67px;
    margin-right: auto;
    margin-left: auto;
  }
  .experience-text {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .experience {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience-img {
    width: 450px;
    margin-right: 40px;
    margin-left: 20px;
  }

  .experience-title {
    font-size: 64px;
  }

  .experience-box {
    margin-right: 20px;
  }

  .experience-span {
    font-size: 64px;
  }

  .experience-text {
    font-size: 24px;
    margin-bottom: 34px;
    width: 100%;
    margin-bottom: 5px;
  }

  .experience-buttom {
    font-size: 24px;
    display: flex;
    width: 211px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    // gap: 10px;
  }
}
