.gallery {
  background: #fff;
}

.gallery-title {
  color: #182738;

  text-align: center;

  font-family: 'Cormorant Garamond';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-list > li {
  margin-right: 65px;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 450px;
  // margin: 20px auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    height: 400px;
  }
}

// .swiper-wrapper {
//   // position: relative;
//   width: 50%;
//   // height: 400px;
//   // margin: 20px auto;
// }

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3; // Задний фон для слайдов
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide p {
  width: 100%;
  // height: auto;
  // object-fit: cover;
}

.swiper-slide img {
  width: 100%;
  // height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background: #000; /* Цвет фона кнопок */
  color: #fff; /* Цвет текста */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #555; /* Изменение цвета при наведении */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background: #000; /* Цвет активной точки */
}

@media screen and (min-width: 1024px) {
  .swiper-slide img {
    width: 50%;
    // height: auto;
    // object-fit: fill;
  }
  .swiper-container {
    height: 500px;
  }
}
